<main>

    <div class="container">

        <div class="title">
            
            <h2>Czym jest LiberumVeto?</h2>
            <p>Aplikacja do podejmowania decyzji niczym prawdziwi sarmaci</p>
            <p>Lorem ipsum lorem ipsum</p>
            <p>Lorem ipsum lorem ipsum</p>

                <button mat-stroked-button (click)="openDialog('3000ms', '1500ms')">Stwórz</button>
        
            </div>

       <div class="foto">
        <img src="" alt="Obrazek by się przydał">
       </div>

    </div>

    <h2>Jak to działa? Klilka prostych założeń</h2>

    <div class="middle">
        <div class="rule">
            <ol>
                <li>Sarmata</li>
                <li>Sarmata</li>
                <li>Sarmata</li>
                <li>Sarmata</li>
                <li>Sarmata</li>
            </ol>
        </div>
    </div>
</main>
