<main>
    <div class="dialog-overlay">
      <div class="dialog-box">
        <div class="dialog-header">
          <h2>Nazwa:</h2>
          <button class="close-button" (click)="closeDialog()">✖</button>
        </div>
        <div class="dialog-content">
          <ol>
            <li>Pytankojkajs dka jaksdj as ld kajs d?</li>
            <li>Pytanko asd asd asd asd as ?</li>
            <li>Pytanko as da asd sdad asd asd ?</li>
            <li>Pytanko asd asd asd asd asd asd?</li>
            <li>Pytanko asd asdasd asd asd asd sad?</li>
          </ol>
        </div>
        <div class="dialog-footer">
          <button class="dialog-button primary" (click)="confirm()">Potwierdź</button>
        </div>
      </div>
    </div>
  </main>
  